---
---

{% include page-head.html %}
{% include header.html %}

<!-- slideshow goes before the main page content -->
{% assign slides = page.slides %}





<main>

	<div class="page-content slideshow-printable">
	



		{% for slide in slides %}

		<!-- slide -->
		<section class="{{ slide.class }}">
				
			{{ slide.content | 
					replace: '[[BASE_URL]]', site.baseurl | 
					replace: '[[THEME_IMAGES]]', site.theme_images | 
					replace: '[[COURSE_IMAGES]]', site.course_images | 
					markdownify }}

			<aside class="notes">
			{{ slide.notes | 
					replace: '[[BASE_URL]]', site.baseurl |
					markdownify }}
			</aside>

		</section>

		{% endfor %}




	</div>

	{% include footer.html %}
	

</main>

{% include page-foot.html %}
