---
---

// theme stuff

$baseurl: '{{site.baseurl}}';
$assets-url: '{{site.theme_assets}}';
$theme-color: {{site.themecolor}};


// other files to include
@import 'revealjs-theme';
@import 'revealjs-customisation';
@import 'revealjs-slides';
@import 'reveal/speaker-notes-button';
@import 'reveal/slide-components';

@import 'typography';
@import 'layout';

@import 'sidebar';
@import 'slideshow-printable';




